body, .wy-nav-content {
  background: #FBFBFB !important;
  color: #555;
}

.no-list-style ul li {
    list-style: none !important;
  }

th, td {
  padding: 7px;
}

code:not([class]) {
  color: deeppink !important;
}

#rtd-sidebar {
  display: none !important;
}

blockquote {
  border-left: solid 2px #DDD;
  margin: 0 !important;
  padding-left: 2%;
  padding-top: 1%;
}
